.wrapper__6e9f8 {
  border-radius: 12px;
}

.wrapper__6e9f8 .childWrapper__6e9f8 {
  border-radius: 12px;
}

.circleIconButton__5bc7e {
  border-radius: 12px !important;
}

.childWrapper__6e9f8 rect {
  rx: 12px;
}

.listItem__650eb .wrapper_cc5dd2 {
  border-radius: 12px;
}

.listItem__650eb .wrapper_cc5dd2 .icon__6e9f8 {
  border-radius: 12px;
}

.hiddenVisually_b18fe2,
.folderPreviewWrapper__48112 {
  border-radius: 12px !important;
}
