._6e9f8dce4cc18de3-wrapper {
  border-radius: 12px;
}

._6e9f8dce4cc18de3-wrapper ._6e9f8dce4cc18de3-childWrapper {
  border-radius: 12px;
}

._5bc7ed9d4097f6b5-circleIconButton {
  border-radius: 12px !important;
}

._6e9f8dce4cc18de3-childWrapper rect {
  rx: 12px;
}

._650eb104245d257b-listItem .cc5dd25190031396-wrapper {
  border-radius: 12px;
}

._650eb104245d257b-listItem .cc5dd25190031396-wrapper .icon__11cf1 {
  border-radius: 12px;
}

.dragInner__66313 {
  border-radius: 12px;
}

.b18fe29d6fe8dd82-hiddenVisually,
._48112cbe77dc5022-folderPreviewWrapper {
  border-radius: 12px !important;
}
