.deee3a6e7fe4b481-captchaContainer iframe {
    filter: 
        invert(1) 
        hue-rotate(180deg) 
        brightness(1.3)
        hue-rotate(230deg) 
        saturate(1.4)
        contrast(1.1) !important;
    border-radius: 10px;
}
