.f7ecaca5c80dbf3a-button.f84418acfdbdfe54-hoverBarButton:nth-of-type(1),
.f7ecaca5c80dbf3a-button.f84418acfdbdfe54-hoverBarButton:nth-of-type(2),
.f7ecaca5c80dbf3a-button.f84418acfdbdfe54-hoverBarButton:nth-of-type(3),
.f84418acfdbdfe54-separator {
  display: none;
}
