:root {
  --dm-icon-url: url("https://example.com/test.png");
}

.childWrapper__6e9f8 > svg { display: none; }

.childWrapper__6e9f8 {
  position: relative;
  width: 40px;
  height: 40px;
}

.childWrapper__6e9f8::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--dm-icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}
